.frequently-asked-questions{
    .ant-modal-title {
        font-size: 2em !important;
    }
    .sub-title-faq {
        color: var(--background-eco-sumbit);
        margin-bottom: 15px;
    }
    .paragraph{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .list-faq{
        padding-left: 25px;
    }
}