.t-center {
    text-align: center;
}
.t-disabled {
    color: var(--back-color-disabled);
}
.f-bold {
    font-weight: 500;
}
.t-m{
    font-size: 1.2em;
}
.t-l{
    font-size: 2em;
}
.t-s {
    font-size: 0.8em;
}
.t-secondary {
    color: var(--color-text-secondary) ;
}
.t-bold {
    font-weight: bold;
}
.t-aling-s {
    text-align: start;
}
.m-1 {
    margin: 1em;
}
.mt-1 {
    margin-top: 1em;
}
.mt-2{
    margin-top: 1.2em;
}
.mt-3{
    margin-top: 1.5em;
}
.mr-2 {
    margin-right: 1.2em;
}
.ml-1 {
    margin-left: 1em;
}
.ml-2 {
    margin-left: 1.2em;
}
.mb-2 {
    margin-bottom: 1.2em;
}
.my-2 {
    margin-top: 1.2em;
    margin-bottom:  1.2em;
}
.d-flex {
    display: flex;
}
.icon-menu{
    font-size: 26px;
}
.pointer{
    cursor: pointer;
}
.click:active{
    transform: scale(0.9);
}
.btn-submit {
    background: var(--background-eco-sumbit);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.btn-lg-submit{
    background: var(--background-eco-sumbit);
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
}
.btn-info {
    background: var(--color-primary);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.btn-lg-disabled{
    background: var(--back-color-disabled);
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
}

.disabled-button {
    background: var(--back-color-disabled) !important;
    text-align: center;
    padding: 7px 15px;    
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 100%;
  }
  .two-inputs{
    justify-content: space-between;
    .form-div {
        width: 49% !important;        
    }
  }
  .ant-form-item {
    margin-bottom: 10px;
}
  .form-item-column{
    div{
        display: block !important;
        width: 100%;
        .ant-form-item-label {
            text-align: start !important;
            font-weight: 500;
        }
    }
  }
  .bdg-success{
    background-color: var(--color-checked);
    color: var(--color-text-strong-inverter);
    padding: 5px;
    border-radius: 3px;
  }
  .bdg-danger{
    background-color: var(--color-danger);
    color: var(--color-text-strong-inverter);
    padding: 5px;
    border-radius: 3px;
  }
  .body-content-layout{ 
    height: 90%;
    padding: 10px;
  }

  .table-data-custom{
    .content-filter{
        width: 100%;
        display: flex;
        justify-content: end;
        .input-delay{
            width: 300px;
            margin-bottom: 15px;
        }
    }
    .table-custom{
        width: 100%;
        border-collapse: collapse;
        max-height: 300px;
        overflow-y: auto;
        table{

            width: 100%;
            border-collapse: collapse;
        }
        thead {
            position: sticky;
            top: 0;
            background-color: #f9f9f9;
            z-index: 1;
            tr {
                th {
                    text-align: left;
                }
            }
        }
        tbody {
            tr {
                border-bottom: 1px inset ;
                td {
                    height: 35px;
                }
            }
        }
        th, td {
            padding: 8px;
        }
    }
}