.t-center {
    text-align: center;
}
.t-disabled {
    color: var(--back-color-disabled);
}
.f-bold {
    font-weight: 500;
}
.t-m{
    font-size: 1.2em;
}
.t-l{
    font-size: 2em;
}
.t-s {
    font-size: 0.8em;
}
.t-secondary {
    color: var(--color-text-secondary) ;
}
.t-aling-s {
    text-align: start;
}
.m-1 {
    margin: 1em;
}
.mt-1 {
    margin-top: 1em;
}
.mt-2{
    margin-top: 1.2em;
}
.mt-3{
    margin-top: 1.5em;
}
.mr-2 {
    margin-right: 1.2em;
}
.ml-1 {
    margin-left: 1em;
}
.ml-2 {
    margin-left: 1.2em;
}
.d-flex {
    display: flex;
}
.icon-menu{
    font-size: 26px;
}
.pointer{
    cursor: pointer;
}
.click:active{
    transform: scale(0.9);
}
.btn-lg-sumbit{
    background: var(--background-eco-sumbit);
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
}
.btn-lg-disabled{
    background: var(--back-color-disabled);
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
}

.disabled-button {
    background: var(--back-color-disabled) !important;
    text-align: center;
    padding: 7px 15px;    
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 100%;
  }
  .two-inputs{
    justify-content: space-between;
    .form-div {
        width: 49% !important;        
    }
  }
  .ant-form-item {
    margin-bottom: 10px;
}
  .form-item-column{
    div{
        display: block !important;
        width: 100%;
        .ant-form-item-label {
            text-align: start !important;
            font-weight: 500;
        }
    }
  }
  .bdg-success{
    background-color: var(--color-checked);
    color: var(--color-text-strong-inverter);
    padding: 5px;
    border-radius: 3px;
  }
  .bdg-danger{
    background-color: var(--color-danger);
    color: var(--color-text-strong-inverter);
    padding: 5px;
    border-radius: 3px;
  }